<h1>интернет магазин компании ООО "НеоСнабТрэйд"</h1>

<p>Здравствуйте, <%= @user.name %>!</p>

<p>
Добро пожаловать в интернет магазин компании ООО "НеоСнабТрэйд"! Пройдите по ссылке для активации вашего профиля:
</p>

<%= link_to "Активировать", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
