<% provide(:title, "О компании") %>
<h1>О компании</h1>
<p>Мы специализируемся на продаже оборудования и инструмента для машиностроительной промышленности.</p>
<p>Магнитные сверлильные станки, металлорежущий инструмент, оснастка станочная и вспомогательная, алмазный и эльборовый абразивный инструмент,контрольно-измерительные инструменты, круги и диски из Clean&Strip (Power-wheel), средства полировки 3М, средства индивидуальной защиты 3М, электроинструмент и др.</p>
<!--
<div>
<h1>О компании</h1>
<h3>Краткое описание компании</h3>
<p>Реализуем весь спектр металлорежущего и алмазного инструмента, станочную оснастку и измерительный инструмент.</p>
<h3>Полное описание компании</h3>
<p>
<b>Реализуем:</b> весь спектр металлорежущего, абразивного, измерительного, слесарного инструмента и оснастки.
Поставляем: Магнитные сверлильные станки "Хайтек инструмент" (Россия), "Evolution" (Англия), "3Keego" (Тайвань)
Фаскосниматели (кромкорезы) "Хайтек инструмент" (Россия)
Рельсосверлильные станки "Хайтек инструмент" (Россия)
Смазывающая охлаждающая жидкость (СОЖ): смазка, аэрозоль.
Магнитные грузозахваты "Хайтек инструмент" (Россия)
<b>МНОГОЦЕЛЕВЫЕ ОТРЕЗНЫЕ ПИЛЫ Evolution</b></p>
<p>
<b>Металлорежущий инструмент:</b> сверла ц/х и конический хвостовик HSS, сверла твердосплавные, метчики, плашки, фрезы концевые и шпоночные, борфрезы, развёртки, зенкера, зенковки, державки, полотна, пилы, сегменты, пластина твердосплавная - напайная и сменная, Оснастка станочная и вспомогательн. инструмент, эльборовый и алмазный инструмент. ТиЗ, ЧиЗ.
</p>
<p>
<b>Абразивный инструмент:</b> ленты бесконечные шлифовальные, круги лепестковые, диски самозацепные, круги войлочные и из нетканого материала (Clean&Strip, Scotch-Brite).
Абразивного инструмент Klingspor (kronenlex), 3M, Deerfos, Bosch и прочих.
</p>
<p>
<b>Подложка графитовая:</b> Антифрикционный материл
Круги и диски из Clean&Strip (Power-wheel): круги торцевые,диски,круги с оправкой
</p>
<p>
<b>Ленты бесконечные:</b> на бумажной основе узкие, на бумажной основе калибровальные, на тканевой основе узкие, на тканевой основе калибровальные, для ручного инструмента
для калибровки ДСП, из нетканого объёмного полотна.
</p>
<p>
<b>Металлорежущий инструмент:</b>
свёрла ц/х средняя серия (ГОСТ 10902)
свёрла ц/х длинная серия (ГОСТ 886)
свёрла к/х средняя серия (10903)
свёрла к/х длинная серия (12121)
свёрла центровочные
</p>
<p>
-диски опорные (подложки)<br>
-средства полировки 3М<br>
-нетканое абразивное полотно Sсotch-Brite
</p>
<p>
<b>пасты полировальные:</b> белая (окончательная), серая (предварительная), зеленая типа ГОИ (средняя)
</p>
<p>
<b>Средства индивидуальной защиты 3М :</b> респираторы,беруши, наушники, очки, полумаски, маски, фильтрa, предфильтрa, держатели, щитки сварщика, перчатки, рукавицы, краги.
Электроинструмент: угловые электрошлифмашины, полировальные машины, эксцентриковые машины.
</p>
<p>
<b>Контактное лицо: <h4>Юрий +37529 7522285.</h4></b> Мы стремимся предложить нашим партнерам качественный инструмент по приемлемым ценам. 
</p>
 
<h3><b>ООО НеоСнабТрэйд</b> предлагает товары следующих поставщиков, марок и производителей:</h3>

<p>Томский инструментальный завод, Чебоксарский инструментальный завод, Челябинский инструментальный завод, Klingspor, Лужский абразивный завод, Белгородский абразивный завод,3M, VÖLKEL, Mitsubishi, Canella, KSTOOLS, Sandvik, Makita, Bosch, Startul, Хайтек</p>
<h3>Общие сведения:</h3>
<ul>
  <li>Компания ООО НеоСнабТрэйд - Оптовый продавец, Дистрибьютор
  <li>Компания ООО НеоСнабТрэйд основана в 2014 году.
  <li>В компании работает до 10 человек.
</div>
-->