<% provide(:title, "Контакты") %>
<h1>Контакты</h1>
<div>
  <ul>
    <li><b>Юрий Александрович</b></li>
    <li>Специалист по продажам</li>
    <li>+375 29 752-22-85</li>
    <li>neo.yk</li>
    <li>halfamazzin@gmail.com</li>
    <li><a href='#'>Написать</a></li>
  </ul>
</div>
<div>
  <h4>НеоСнабТрейд</h4>
  <ul>
    <li><b>Адрес:</b></li>
    <li>г. Минск, ул. Казинца и.п., 123, офис 5a</li>
    <li>Наш офис находится в минуте езды от МКАД</li>
  </ul>
  <ul>
    <li><b>Тел.:</b>+375 (29) 752-22-85</li>
    <li>Юрий Александрович</li>
  </ul>
  <ul>
    <li><b>Email:</b>beltrimex@inbox.ru</li>
    <li>Ваши вопросы и заявки отправляйте на нашу почту</li>
  </ul>
  <ul>
    <li><b>Время работы:</b></li>
    <li>пн-чт 9:30-16:00</li>
    <li>пт 9:30-15:00. Пятница и предпраздничные дни</li>
  </ul>
</div>
