<div class="center jumbotron">
  <h1>Добро пожаловать</h1>
  <h3>магазин ООО НеоСнабТрэйд</h3>
  
  <h2>
    Это главная страница интернет магазина ООО "НеоСнабТрэйд"
  </h2>
  
  <%= link_to "Зарегестрироваться сейчас!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


