<div class="center jumbotron">
  <h1>Добро пожаловать</h1>
  <p>
     ООО НеоСнабТрэйд предлагает товары следующих поставщиков, марок и производителей: Томский инструментальный завод, Чебоксарский инструментальный завод, Челябинский инструментальный завод, Klingspor, Лужский абразивный завод, Белгородский абразивный завод,3M, VÖLKEL, Mitsubishi, Canella, KSTOOLS, Sandvik, Makita, Bosch, Startul, Хайтек"</p>
  <%= link_to "Зарегестрироваться!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
