<footer class="footer">
  <small>
    Created by <a href="https://github.com/byReham">Mihail Rehmunov</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "О компании",   about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>

