<div class="main-menu">
	<div class="container">
	  	<nav>
			<ul class="nav navbar-nav list-unstyled  list-inline pull-left">
			    <li><%= link_to "Товары и услуги", products_path %></li>
			    <li><%= link_to "Оплата и доставка", delivery_path %></li>
			    <li><%= link_to "О компании",   about_path %></li>
			    <li><%= link_to "Контакты", contact_path %></li>
		    </ul>  
	  	</nav>
	</div>
</div>