<div class="row top-wrapper">
  <div id="logo">
    <%= link_to image_tag("logo.png", alt: "texPRO", width: '100%'), root_path %>
  </div>
  <div class="contacts-wrapper">
  	<div class="contacts">
  		<ul>
      	<li class="velcom">+375 29 305-92-14</li>
      	<li class="mts">+375 29 752-22-85</li>
      	<li class="skype">neo.yk</li>
      	<li class="velcom">+375 29 175-07-73</li>
      	<li class="viber">+375 29 305-92-14</li>
      	<li class="email" style="font-size: 16px;">halfamazzin@gmail.com</li>
	    </ul>
   	</div>
  </div>
</div>